<div class="container-fluid">
    <div class="row center" style="margin-bottom: 2rem;">
        <p class="heading">
            Conflict of Interest and Tariffs
        </p>
    </div>
    <div class="row center">
        <div class="col-ms-12 col-lg-4">
            <div class="circle">
                <p>
                    LSA follows a strict “no conflict of interest” 
                    policy to avoid any potential or actual prejudice 
                    to its clients.
                </p>
            </div>
        </div>
        <div class="col-ms-12 col-lg-4">
            <div class="circle">
                <p>
                    LSA’s fees and tariffs can be negotiated with each client 
                    to suit their needs. The importance, urgency and intricacy
                    of the work are factors considered in determining fees and/or hourly tariffs. 
                </p>
            </div>
        </div>
        <div class="col-ms-12 col-lg-4">
            <div class="circle"st>
                <p class="textcen">
                    Commercial matters agreements can be reached on a varied fee structure, 
                    depending on successful outcomes of transactions or otherwise.
                </p>
            </div>      
        </div>
    </div>
</div>


