<div class="container-fluid pc">
    <div class="row heightcontrol">
        <div class="col-sm-0 col-lg-5 leftcol">        
            <div class="boxempty">
            
            </div>        
            <div class="boxleft">
                We strive to be one of the lead practicing 
                law firms in Gauteng. We endeavor to serve 
                unrepresentative persons or businesses by 
                being a pioneering law firm providing high 
                standard legal services.
            </div>
            <div class="boxempty">
            
            </div>
            <div class="boxleft">
                Our vision is to provide legal counsel in a result-oriented environment.
            </div>
            <div class="boxempty">
            
            </div>
        </div>
        <div class="col-sm-12 col-lg-2 middlebar">
            <p>
                Our Vision
            </p>       
        </div>
        <div class="col-sm-0 col-lg-5 rightcol">
            <div class="boxempty2">
            
            </div>        
            <div class="boxright">
                We also believe in giving back to the community by donating time 
                and legal expertise to those in need and come up with 
                solutions that are cost-effective and beneficial to each client.
            </div>
            <div class="boxempty">
            
            </div>
            <div class="boxright">                
                 Our clients are our family, and we treat everyone with the same core-values.
            </div>
            <div class="boxempty">
            
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mob">
    <div class="row" style="margin-bottom: 3rem;">
        <div class="col-sm-12 middlebar">
            <p>
                Our Vision
            </p>     
        </div>

        <div class="col-sm-12">
            <div class="box">
                We strive to be one of the lead practicing 
                law firms in Gauteng. We endeavor to serve 
                unrepresentative persons or businesses by 
                being a pioneering law firm providing high 
                standard legal services.
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box">
                Our vision is to provide legal counsel in a result-oriented environment.
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box">
                We also believe in giving back to the community by 
                donating time and legal expertise to those in need 
                and come up with solutions that are cost-effective
                 and beneficial to each client.
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box">
                Our clients are our family, and we treat everyone with the same core-values.
            </div>
        </div>
    </div>
</div>

