<div class="container-fluid para">
  <p class="heading" id="contact">
    Contact Us
  </p>
</div>
<div class="container-fluid">
  <div class="row" style="margin-top: 2rem;margin-bottom: 2rem;">
    <div class="col-sm-12 col-lg-6 center">
      <p class="leftheading">
        From humble beginnings come great things
      </p>
    </div>
    <div class="col-sm-12 col-lg-6 pc">
      <div class="row">
        <div class="col-sm-4 col-lg-4">
          <img src="assets/images/phone.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <div class="col-sm-8 col-lg-8">
          <p class="text">
            076 928 3900 / 010 109 6795
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-4">
          <img src="assets/images/address.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <div class="col-sm-8 col-lg-8">
          <p class="text">
            2 Kylemore Close Florida Park 1709
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-4">
          <img src="assets/images/email.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Image not found!">
        </div>
        <div class="col-sm-8 col-lg-8">
          <p class="text">
            lindy@lsattorneys.net
          </p>
        </div>
      </div>
    </div>    
</div>

<div class="container-fluid">
    <div class="mob">
        <div class="row cen">     
          <img src="assets/images/phone.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Image not found!">
          <p class="text">
            076 928 3900 / 010 109 6795
          </p>
        </div>
        <div class="row cen">
          <img src="assets/images/address.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Image not found!">
          <p class="text">
            2 Kylemore Close Florida Park 1709
          </p>
        </div>
        <div class="row cen">
          <img src="assets/images/email.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Image not found!">
          <p class="text">
            lindy@lsattorneys.net
          </p>
  
        </div>
      </div>
    </div>
    <div class="row footerc">
      <img src="assets/images/face.png"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      <p class="vertical-center">
        <a href="https://www.facebook.com/lsinlaw/" class="remove">@lsinlaw</a>
      </p>
    </div>
</div>
