<div class="parallaxone" >
  
</div>
<div class="image" id="visionandmission">
  <div class="container-fluid">
    <div class="row pc" style="padding-top: 1rem ;">
      <div class="col-sm-12 col-lg-7" style="background-color: #9b2350;">
        <p class="text1">
          Our Vision and Mision
        </p>
      </div>
      <div class="col-sm-12 col-lg-5">

      </div>
    </div>
    <div class="row pc" style="margin-bottom: 1rem ;">
      <div class="col-sm-12 col-lg-6">

      </div>
      <div class="col-sm-12 col-lg-6" style="background-color: #e1e1e1;">
        <p class="text2" >
          statements will be fulfilled by:
        </p>
      </div>
    </div>
    <div class="row mob">
      <div class="col-sm-12" style="background-color: #9b2350;">
        <p class="text">
          Our Vision and Mision statements will be fulfilled by:
        </p>
      </div>      
    </div>
    <div class="row" style="padding-bottom: 4rem;">
      <div class="col-sm-1 col-lg-2">

      </div>
      <div class="col-sm-10 col-lg-8">
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <p id="boxshort">
              Earning our clients trust, respect, and loyalty.
            </p>

          </div>
          <div class="col-sm-12 col-lg-4">
            <p id="boxshort">
              Providing high standard of service with honesty,
              integrity, fairness, compassion, and dignity.
            </p>

          </div>
          <div class="col-sm-12 col-lg-4">
            <p id="boxshort">
              Always being accessible and responsive to our clients.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <p id="boxlong">
              Establishing professional cost-effective and quality representation.
            </p>
          </div>
          <div class="col-sm-12 col-lg-6">
            <p id="boxlong">
              Passionately advocate on behalf of our clients when protecting their rights.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-lg-2">

      </div>
    </div>
  </div>
</div>
<div class="parallaxtwo" ></div>
<div  id="servicesid" style="padding-top: 5rem;"> </div>
