<div class="container-fluid heading">
  <p>Our Services</p>
</div>

<div class="container-fluid pos pc">
  <div class="row">
  </div>
  <div class="row" style="position: relative">

    <section id="absolute-canvas">
      <img src="./images/logoWithShadow.png" id="logo" class="img-responsive animated zoomIn" alt="" title="СП ФИНКИ" />
      <div id="nav-container">
        <a href='#' class='deg0'>Services</a>
        <a href='#' class='deg45'>Conveyancing</a>
        <a href='#' class='deg135'>Commercial Transactions</a>
        <a href='#' class='deg180'>Debt Collection</a>
        <a href='#' class='deg225'>Labour Law</a>
        <a href='#' class='deg315'>Litigation</a>
        <a href='#' class='deg320'>Insolvency and Estates</a>
        <a href='#' class='deg325'>Personal Injury</a>
        <a href='#' class='deg360'>Trusts</a>
      </div>
    </section>
  </div>
</div>

<div class="container-fluid mob">
  <div class="row">
    <div class="circle">     
        Litigation         
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Conveyancing
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Commercial Transactions
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Debt Collection
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Labour Law
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Deceased Estates
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Insolvency and Estates
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Personal Injury
    </div>
  </div>
  <div class="row">
    <div class="circle">
      Trusts
    </div>
  </div>
</div>
