<div class="container-fluid">
  <div class="row homeimg" id="homeid">
    <div class="text">
      <h1 class="headingtext">FROM HUMBLE BEGINNINGS COME GREAT THINGS</h1>
      <h2 class="box">
        Lindy Sinclair Attorneys (“LSA”) is a law firm with a short, but strong
        history. I, Lindy Sinclair, being a passionate practicing attorney since
        2017 have embarked on the journey of opening my own law firm after
        realizing the need there is for professionalism, confidentiality and
        passionate skills involving legal matters. I started my law career in
        2007 as a Legal Secretary without any knowledge or skills and have built
        myself up to be a knowledgeable practicing attorney with years of
        experience starting from the bottom with a lifelong passion and I am
        proud to be a benefit to each client whether private or business.
      </h2>
    </div>    
  </div>  
</div>
<div class="stripe"></div>
